.u-bg-default {
	background-color: $color-default !important;
}

.u-bg-primary {
	background-color: $color-primary !important;
}

.u-bg-secondary {
	background-color: $color-secondary !important;
}

.u-bg-gray {
	background-color: $color-default;
}