.u-color-default {
	color: $color-default !important;
}

.u-color-primary {
	color: $color-primary !important;
}

.u-color-secondary {
	color: $color-secondary !important;
}

.u-color-inverted {
	color: $color-text-inverted !important;
}

.u-color-white {
	color: #fff;
}