.u-font-light {
    font-weight: 300;
}

.u-font-semilight {
    font-weight: 400;
}

.u-font-regular {
    font-weight: 500;
}

.u-font-medium {
    font-weight: 600;
}

.u-font-bold {
    font-weight: 700;
}

.u-font-black {
    font-weight: 900;
}