.u-h1 {
	font-size: 120px;
	font-weight: 700;
	line-height: 1;
	font-family: $font-family-headings;
	color: #2F2F2F;
}

.u-h2 {
	font-weight: 400;
	line-height: 1;
	font-size: 100px;
	font-family: $font-family-headings;
	color: #2F2F2F;
}

.u-h3 {
	font-weight: 700;
	line-height: 1.3;
	font-size: 42px;
	font-family: $font-family-headings;
	color: #2F2F2F;
}

.u-h4 {
	font-weight: 700;
	line-height: 1.3;
	font-size: 30px;
	font-family: $font-family-headings;
	color: #2F2F2F;
}

.u-h5 {
	font-weight: 700;
	line-height: 1.3;
	font-size: 20px;
	font-family: $font-family-headings;
	color: #2F2F2F;
}
