.u-line-height-1 {
	line-height: 1 !important;
}

.u-line-height-1p25 {
	line-height: 1.25 !important;
}

.u-line-height-1p5 {
	line-height: 1.5 !important;
}

.u-line-height-1p75 {
	line-height: 1.75 !important;
}

.u-line-height-2 {
	line-height: 2 !important;
}
