.accordion {
    border-top: 1px solid #E0E2E7;
    border-bottom: 1px solid #E0E2E7;
    padding-top: 20px;
    padding-bottom: 17px;
    margin-bottom: 30px;

    & .accordion__ico {

        & .accordion__plus {
            display: inline-block;
        }
        
        & .accordion__minus {
            display: none;
        }
    }

    &--active {

        & .accordion__content {
            display: block;
        }

        & .accordion__ico {

            & .accordion__plus {
                display: none;
            }
            
            & .accordion__minus {
                display: inline-block;
            }
        }
    }

    &__title {
        color: $color-secondary !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        line-height: 1.1 !important;
    }

    &__content {
        padding-top: 30px;
        font-weight: 400;
        display: none;
    }
}