.button {
    padding: 15px 30px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-size: 18px;
    color: #FBFBFC;
    font-family: $font-family-base;
    font-weight: 400;
    transition: .3s;
    display: inline-block;
    cursor: pointer;

    &--transparent {
        background: transparent;

        &:hover {
            background: #F8F8FB;
        }
    }

    &--transparent-primary {
        background: transparent;
        border-color: $color-primary;
        color: $color-primary;

        &:hover {
            background: $color-primary;
            color: #FBFBFC;
        }
    }

    &--secondary-gradient {
        background: $gradient-secondary;
        transition: none;
        border: 1px solid transparent;

        &:hover {
            background: $color-secondary;
        }
    }

    &--primary-gradient {
        background: $gradient-primary;
        transition: none;
        border: 1px solid transparent;

        &:hover {
            background: $color-primary;
        }
    }
}