.jobs {
    
    &__name {
        font-weight: 700;
        margin-bottom: 30px;

        &-locality {
            color: #919399;
            font-size: 14px;
            font-weight: 300;
            display: block;
            margin-top: 15px;
        }
    }

    &__options {
        display: flex;
        margin-bottom: 30px;
        flex-wrap: wrap;
        flex-direction: column;

        @media (min-width: $sm) {
            flex-direction: row;
        }

        &-item {
            margin-right: 20px;
            margin-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }

            &-name {
                color: #919399;
                font-weight: 300;
            }

            &-value {
                color: $color-secondary;
                font-weight: 700;
                font-size: 42px;
                font-family: $font-family-headings;

                & span {
                    font-size: 30px;
                }

                & sup {
                    line-height: 1;
                    font-size: 20px;
                }
            }
        }
    }

    &__count {
        font-weight: 700;
        font-family: $font-family-headings;
        font-size: 30px;
        color: #919399;
        margin-right: 40px;
        line-height: 1;
        width: auto;

        & span:not(.swiper-pagination-total) {
            color: $color-secondary;
            font-size: 42px;
        }
    }

    &__description {
        margin-bottom: 40px;
        font-weight: 400;
    }

    &__pagination {
        display: flex;
        align-items: center;

        &-item {
            border: 1px solid #E0E2E7;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            @media (min-width: $sm) {
                width: 64px;
                height: 64px;
            }

            &:hover {
                border-color: $color-primary;

                & svg path {
                    stroke: $color-primary;
                }
            }
        }
    }

    &__wrapper {
        
        &-top {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }
    }

    &__gallery {
        font-size: 0;

        &-main {
            width: 100%;
            object-fit: cover;
        }

        &-minis {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0;
            margin-top: 15px;

            &-item {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }

                & img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}