.kviz {
    background-color: $color-primary;
    border: 5px dashed #FFFFFF;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    padding: 30px 10px 30px 35px;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    transform: translateY(258px);
    flex-direction: column;
    flex-wrap: nowrap;

    &--triangle {
        background-color: transparent;
        border: none;
        border-radius: 0 !important;
        background: $gradient-primary;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-width: $sm) {
            background-image: url('../img/cta-projects.svg');
        }
    }

    @media (min-width: $sm) {
        border-radius: 500px;
        width: 516px;
        height: 516px;
        min-width: 516px;
        min-height: 516px;
        padding: 70px 100px 70px 160px;
    }

    @media (min-width: $md) {
        transform: translateY(100px);
    }

    @media (min-width: $xl) {
        width: 400px;
        height: 400px;
        min-width: 400px;
        min-height: 400px;
        padding: 60px 90px 60px 120px;
        transform: translateY(27px);
    }

    @media (min-width: $xxl) {
        min-width: 500px;
        min-height: 500px;
        width: 500px;
        height: 500px;
        padding: 70px 100px 70px 160px;
        transform: translateY(76px);
    }

    &__count {
        font-weight: 700;
        font-family: $font-family-headings;
        font-size: 30px;

        & span {
            font-size: 42px;
        }
    }

    &__select {

    }

    &__checkbox {
        margin-bottom: 10px;

        &-input {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &+label {
                display: inline-flex;
                align-items: center;
                user-select: none;
                cursor: pointer;
                font-weight: 300;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border: 1px solid #fff;
                    border-radius: 0.25em;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                    margin-right: 10px;
                }
            }

            &:active+label::before {
                background-color: #fff;
                border-color: #fff;
            }

            &:checked+label::before {
                border-color: #fff;
                background-color: #fff;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
        }
    }   
}