.map {
    height: 400px;

    @media (min-width: $md) {
        height: 500px;
    }

    @media (min-width: $lg) {
        height: 600px;
    }

    &__form {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        padding: 30px;
        transform: translateY(-120px);
        z-index: 2;
        background-color: #fff;


        @media (min-width: $lg) {
            padding: 60px;
        }
        & textarea {
            resize: none;
            width: 100%;
            padding: 0 15px;
            border: 1px solid #D5D8DE;
            border-radius: 6px;
            margin-bottom: 40px;
        }
    }
}