.tariff {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;

    @media (min-width: $sm) {
    
    }

    @media (min-width: $md) {
        padding: 30px 25px;
    }

    @media (min-width: $xl) {
        padding: 60px;
    }

    @media (min-width: $xxl) {
        padding: 60px 70px;
    }

    &__name {
        font-family: $font-family-headings;
        font-size: 34px;
        color: $color-secondary;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 30px;

        @media (min-width: $md) {
            font-size: 42px;
        }

        & span {
            font-size: 24px;
            color: #919399;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1.2;
            display: block;

            @media (min-width: $md) {
                font-size: 30px;
            }
        }
    }

    &__price {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        flex-wrap: wrap;

        @media (min-width: $md) {
            flex-wrap: nowrap;
        }

        &-new {
            margin-right: 5px;
            color: $color-primary;
            font-size: 16px;
            font-weight: 700;

            & span {
                font-size: 24px;
                font-family: $font-family-headings;
            }

        }

        &-old {
            font-size: 14px;
            font-weight: 400;
            color: #2F2F2F;
            text-decoration-line: line-through
        }
    }

    &__option {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 50px;
        }

        &:after {
            content: '';
            width: 24px;
            height: 24px;
            min-width: 24px;
            min-height: 24px;
            border: 1px solid #919399;
            background-color: #fff;
            border-radius: 50px;
            margin-left: 15px;
        }

        &--checked {

            &:after {
                border: 1px solid $color-primary;
                background-color: $color-primary;
                background-image: url('../img/icon/check.svg');
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}